@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@600;700&display=swap");
@import "tailwindcss";

/* Theme Variables */
@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-primary: #e7fafe;
  --color-secondary: #ff6363;
  --color-accent: #ff7426;
  --color-danger: #e22e2e;
  --color-lightgray: #e6e6e6;

  --font-body: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

/* Global Styles */
body {
  @apply bg-background text-foreground font-body;
}

/* Typography */
.heading-1 {
  @apply text-4xl font-heading font-semibold;
}

.heading-2 {
  @apply text-3xl font-heading font-semibold;
}

.heading-3 {
  @apply text-2xl font-heading font-semibold;
}

.heading-4 {
  @apply font-heading font-semibold;
}

/* Buttons */
.button {
  @apply bg-accent text-white px-6 py-3 rounded-lg hover:bg-accent/90 transition cursor-pointer;
  &.danger {
    @apply bg-danger hover:bg-danger/90;
  }
  &:disabled {
    @apply opacity-50;
  }
}
